* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.recharts-responsive-container {
  width: 127%;
}
input::placeholder {
  color: #999999;
  font-size: 12px;
}
.css-b62m3t-container {
  width: 100% !important;
}